body, .signin {
  /* background-color: #d3d3d3;   */
 font-family: 'Montserrat', sans-serif;
 color: #fff;
 font-size: 14px;
 letter-spacing: 1px;
 }
 body{
   margin:0px;
 }

 .login 
 {
 position: relative;
 height: 555px;
 width: 655px;
 margin: auto;
 padding: 20px 60px;
 background: url('/assets/images/Background.png') no-repeat   center center #505050;   
 background-size: cover;
 /* box-shadow: 0px 30px 60px -5px #000; */
 border-radius: 15px;
 }

 form {
 padding-top: 30px;
 }




 span {
 /* text-transform: uppercase; */
 font-size: 15px;
 opacity: 0.7; 
 display: inline-block;
 position: relative;
 top: -60px;
 left:10px;
 transition: all 0.5s ease-in-out;
 }

 .text {
 border: none;
 width: 50%;
 padding: 10px 20px;
 display: block;
 height: 40px;
 border-radius: 18px;
 background: #394158;
 border: 2px solid rgba(255, 255, 255, 0);
 overflow: hidden;
 margin-top: 15px;
 transition: all 0.5s ease-in-out;
 }

 .text:focus {
 outline: 0;
 border: 2px solid rgba(255, 255, 255, 0.5);
 border-radius: 20px;
 background: rgba(0, 0, 0, 0);
 }

 .text:focus + span {
 opacity: 0.6;
 }

 input[type="text"],
 input[type="password"] {
 font-family: 'Montserrat', sans-serif;
 color: #fff;
 }

 input {
 display: inline-block;
 padding-top: 20px;
 font-size: 14px;
 }

 label {
 display: inline-block;
 padding-top: 10px;
 padding-left: 5px;
 }

 .signin {
 background-color: #1161ed;
 color: #FFF;
 width: 65%;
 padding: 10px 20px;
 display: block;
 height: 39px;
 margin-left: auto;
 margin-right: auto;
 border-radius: 20px;
 margin-top: 0px;
 transition: all 0.5s ease-in-out;
 border: none;
 text-transform: uppercase;
 justify-content: center;
 }

 .signin:hover {
 background: #4082f5;
 box-shadow: 0px 4px 35px -5px #4082f5;
 cursor: pointer;
 }

 .signin:focus {
 outline: none;
 }

 .logindiv
 {
     width:100%; 
     margin-top:7px;
     display: inline-flex; 
     align-items: center;  
     
 }
 .loginbutton {
 background-color: #0FBF54;
 color: #FFF;
 width: 12%;
 /* padding: 10px 20px; */
 display: block;
 height: 23px;
 
 border-radius: 20px;
 margin-top: -15px;
 transition: all 0.5s ease-in-out;
 border: none;
 text-transform: uppercase;
 }

 .loginbutton:hover {
 background:  #0FBF54;
 box-shadow: 0px 4px 35px -5px  #0FBF54;
 cursor: pointer;
 }

