<footer class="footer-section" style="background-color: black">
  <div class="container">
      <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="cta-text">
                          <h4>Find us</h4>
                          <span>3rd floor building, 1a, RMZ Ecoworld Rd, Adarsh Palm Retreat, Bellandur, Bengaluru, Karnataka 560103</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-phone"></i>
                      <div class="cta-text">
                          <h4>Call us</h4>
                          <span>+91-9876654321</span>
                          <br> <span>+91-9087612345</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="far fa-envelope-open"></i>
                      <div class="cta-text">
                          <h4>Mail us</h4>
                          <span>customercare@walkabout.com</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-content pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                      <div class="footer-logo">
                          <a href="index.html"><img src="./assets/images/Logo.png" style="height: 100px; width: 250px; margin-top: -30px;" class="img-fluid" alt="logo"></a>
                      </div>
                      <div class="footer-text">
                          <p>We're back yet again with another exploration of a footwear website landing page design. This is a landing page concept for footwear and shoes. This time around, we wanted to present something exciting in the creative, minimal, and innovative with functional UI/UX. </p>
                      </div>
                      <div class="footer-social-icon">
                          <span style="margin-left:17%  ;"> Follow us</span>

                            <a class="facebook" href="#" style="margin: 20px;"><i class="bi bi-facebook"></i></a>
                            <a class="twitter" href="#" style="margin: 20px;"><i class="bi bi-twitter"></i></a>
                            <a class="instagram" href="#" style="margin: 20px;"><i class="bi bi-instagram"></i></a>
                            <a class="linkedin" href="#" style="margin: 20px;"><i class="bi bi-linkedin"></i></a>

                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Useful Links</h3>
                      </div>
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About us</a></li>
                          <li><a href="#">Contact us</a></li>
                          <li><a href="#">Male category</a></li>
                          <li><a href="#">Female category</a></li>
                          <li><a href="#">Kids category</a></li>
                          <li><a href="#">New Arrival</a></li>


                      </ul>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Subscribe</h3>
                      </div>
                      <div class="footer-text mb-25">
                          <p>Let us know your thoughts. Your feedback and appreciation are always welcome :)</p>
                      </div>
                      <div class="subscribe-form">
                          <form action="#">
                              <input type="text" placeholder="Email Address">
                             
                              <button><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                              </svg></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2022, All Right Reserved </p>
                  </div>
              </div>
              <!-- <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Terms</a></li>
                          <li><a href="#">Privacy</a></li>
                          <li><a href="#">Policy</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</footer>
