<section id="section-1">
    <div class="content-slider">
      <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
      <input type="radio" id="banner2" class="sec-1-input" name="banner">
      <input type="radio" id="banner3" class="sec-1-input" name="banner">
      <input type="radio" id="banner4" class="sec-1-input" name="banner">
      <div class="slider">
        <div id="top-banner-1" class="banner">
          <div class="banner-inner-wrapper">
              <img src="assets/images/banner/banner1.png" />

          </div>
        </div>
        <div id="top-banner-2" class="banner">
              <div class="banner-inner-wrapper">
                  <img src="assets/images/banner/banner4.png" />
          </div>
        </div>
        <div id="top-banner-3" class="banner">
          <div class="banner-inner-wrapper">
              <img src="assets/images/banner/banner3.png" />
          </div>
        </div>
        <div id="top-banner-4" class="banner">
          <div class="banner-inner-wrapper">
                  <img class="" src="assets/images/banner/banner2.png" />
            </div>
        </div>
      </div>
      <nav>
        <div class="controls">
          <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span></span> </label>
          <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span></span> </label>
          <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span></span> </label>
          <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span></span> </label>
        </div>
      </nav>
    </div>
