<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <img src="./assets/images/logo/walkaboutText.png" style="height: 30px;" alt="Walkabout">
        </a>

    <p style="color:white">Hello {{sessionStorage.getItem('Username')}}</p>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/product-card" (click)="clearsession()">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/newarrival">New Arrivals</a>
          </li>








              <li class="nav-item">
                <a class="nav-link" routerLink="/signup" *ngIf="!sessionStorage.getItem('Username')">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" *ngIf="!sessionStorage.getItem('Username')">Log In</a>
              <a class="nav-link" routerLink="/home" *ngIf="sessionStorage.getItem('Username')" (click)="logout()">Log Out</a>
          </li>

        </ul>


        <ul class="navbar-nav mr-auto nav" *ngIf="sessionStorage.getItem('Username')" >
          <li class="nav-item">
            <a routerLink="/order" class="nav-link">Order History</a>
          </li>
          <li class="nav-item">
            <a routerLink="/wishlist" class="position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" color="white" fill="currentColor" style="margin-left:20vh;" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
            <div class="cart-no">{{wishListLength}}</div>
          </a>
        </li>

            <li class="nav-item">
              <a routerLink="/cart" class="position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" color="white" style="margin-left: 5vh;" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>

                  </svg>
                  <div class="cart-no">{{cartListLength}}</div>
                </a>
            </li>

        </ul>


    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
