.navbar{
    background-color: #000000;
  }
 


  a{
    color: #fff;
  }
  a:active{
    color:#fff;
  }
  a:visited{
    color: #fff;
  }
  #form-wrapper {
    width: 50%;
    height: 40px;
  }

  #navbarSupportedContent{
    float:none;
    
    padding-left: 10vw;
  }

  @media screen and (max-width: 600px) { 
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }
  .icon{
    size:20px;
    color:red;
    
  }
  .nav-link:hover{
color:#ff5e14;
  }

  .btn:hover{
    background-color: #ff5e14;
    border: 1px solid white;
     color: #000000;
  }
  

  .bi:hover{
    color: #ff5e14;
  }