<br>
<div>
<form [formGroup] = "ProductSearch" (ngSubmit)="Search()" class="form-inline my-2 my-lg-0" style="margin-left: 5%; ;display: flex;">
  <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" formControlName = "SearchString">

  <input class="form-control mr-sm-2" type="search" placeholder="Low Price" aria-label="Search" formControlName = "lowprice">
  <input class="form-control mr-sm-2" type="search" placeholder="High Price" aria-label="Search" formControlName = "highprice">



  <select formControlName = "sortby" class="dropdown">
    <option value="AscendingName" >Name: Ascending</option>
    <option value="DescendingName"  >Name: Descending</option>
    <option value="AscendingPrice"  >Price: Low to High</option>
    <option value="DescendingPrice" >Price: High to Low </option>
  </select>

  <div style="margin-top: 5px; margin-right: 10px;">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
</div>
</form>
  </div>







<br>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<div class="wrapper-container">
  <div class="wrapper" *ngFor="let prod of getProducts()">
    <div class="container" >
      <div class="top">
        <img class="prod-image" src={{prod.imagePath}} />
      </div>
      <div class="bottom">
        <div class="left">
          <div class="details">
            <h1 style="font-size: 18px;">{{ prod.productName }}</h1>
            <span style="font-size: 15px;">{{prod.price | currency:'INR'}}</span>
          </div>

          <div class="buy">
            <button type="submit" (click)="submitToCart(prod.productId)" > <i class="material-icons">add_shopping_cart</i></button>
            <button type="submit" (click)="submitToWishlist(prod.productId)"><i class="material-icons">favorite_border</i></button>
          </div>
          <!-- <div class="wishlist">
            <i class="material-icons">favorite_border</i>
          </div>    -->

      </div>
    </div>
    <div class="inside">
      <div class="icon"><i class="material-icons">info_outline</i></div>
      <div class="contents">
        <table>
          <tr>
            <th>Description</th>
          </tr>
          <tr>
            <td>{{prod.productDescription}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
