<br>
<div>
<form [formGroup] = "ProductSearch" (ngSubmit)="Search()" class="form-inline my-2 my-lg-0" style="margin-left: 5%; ;display: flex;">
  <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" formControlName = "SearchString">
  
  <input class="form-control mr-sm-2" type="search" placeholder="Low Price" aria-label="Search" formControlName = "lowprice">
  <input class="form-control mr-sm-2" type="search" placeholder="High Price" aria-label="Search" formControlName = "highprice">
  
  
  
  <select formControlName = "sortby" class="dropdown">
    <option value="AscendingName" >Name: Ascending</option>
    <option value="DescendingName"  >Name: Descending</option>
    <option value="AscendingPrice"  >Price: Low to High</option>
    <option value="DescendingPrice" >Price: High to Low </option>
  </select>

  <div style="margin-top: 5px; margin-right: 10px;">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
</div>
</form>
  </div>

<a class="btn btn-outline-success my-2 my-sm-0" routerLink="/crudproduct" *ngIf="sessionStorage.getItem('UserRole')"> Modify Products</a>






<br>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<div class="wrapper-container">
  <div class="wrapper" *ngFor="let prod of productList">
    <div class="container" >
      <div class="top">
        <img src={{prod.imagePath}} />
      </div>
      <div class="bottom">
        <div class="left">
          <div class="details">
            <h1 style="font-size: 15px;">{{ prod.productName }}</h1>
            <span style="text-decoration: line-through;">{{ prod.price | currency:'INR'}}</span>
            <span>{{prod.productOfferPrice | currency:'INR'}}</span>
          </div>
          <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
        </div>
      </div>
    </div>
    <div class="inside">
      <div class="icon"><i class="material-icons">info_outline</i></div>
      <div class="contents">
        <table>
          <tr>
            <th>Description</th>
          </tr>
          <tr>
            <td>{{prod.productDescription}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>