<div class="container">
    <div class="card">
      <div class="imgBx">
        <img src="https://img.freepik.com/free-photo/excited-stylish-curly-haired-girl-sunglasses-pointing-right-showing-way_176420-20193.jpg?size=626&ext=jpg&ga=GA1.2.1556584802.1661247110" style="width:450px; height:330px" />
        
      </div>
      
      <div class="contentBx">
        <a href="#">Shop Now</a>
      </div>
    </div>
    
      <div class="card" style="margin-left:20px">
      <div class="imgBx">
        <img src="https://t4.ftcdn.net/jpg/02/17/52/13/240_F_217521307_XLAz6TEVedi8wiPnGUZ5qj4E0rCockS0.jpg" style="width:550px; height:330px" />
        
        
      </div>
      
      <div class="contentBx">
        <a href="#">Shop Now</a>
      </div>
    </div>
    
     <div class="card" style="margin-left:20px">
      <div class="imgBx">
        <img src="https://img.freepik.com/free-photo/girl-looking-globe-with-loupe_23-2147824981.jpg?w=826&t=st=1661247665~exp=1661248265~hmac=b33667fe9451da808743c75a21afb30a8a24aaaf7937f74e1a21cc2bdbe904f4" style="width:450px; height:330px" />
        
      </div>
      
      <div class="contentBx">
        
        <a href="#">Shop Now</a>
      </div>
    </div>
  </div>  
  
  
  
  
  