
  <h4 class=" display-5 text-center">Your Cart</h4>

    <br/>

    <h1 class="display-4 text-center" *ngIf="cartList.length === 0">

       No items have been added in your cart!

    </h1>

    <div class="container" *ngIf="cartList.length > 0">

   <!-- Products Cart -->
   <div class="column1">



   <table class="tablecart">
     <tr class="cartrow" *ngFor="let cart of cartList">

       <td><img src="{{cart.product.imagePath}}" class="image">
         <p class="productname">{{cart.product.productName}}</p>

         <!-- <p class="productdesc">{{cart.product.productDescription}}</p> -->
         <p>{{cart.product.price | currency:'INR' }}</p>
       </td>
       <td>

         <p style="padding-left: 25px;">Quantity</p>
             <p>
              <input type="button" value="+" (click)="onIncrementCartItem(cart)" >
              <input style="width:35px; margin-left:5px; margin-right:5px" type="text" value={{cart.quantity}}>
              <input type="button" value="-" (click)="onDecrementCartItem(cart)">
           </p>
       </td>

       <td><button  (click)="deleteCart(cart.cartId)" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
         <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
         <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
       </svg></button></td>



     </tr>
   </table>
   </div>

   <!-- Summary  -->
   <div class="column2">
     <h4 style="text-align:center;">Summary</h4>

     <table class="tablesummary">
       <tr>
         <td>Subtotal</td>
         <td>{{total | currency:'INR'}}</td>
       </tr>
       <tr>
         <td>Estimated Delivery & Handling</td>
         <td>₹ {{tax}}</td>
       </tr>
       <div class="fade_rule"></div>

       <tr>
         <td>Total</td>
         <td> {{total  +  tax | currency:'INR'}}</td>
       </tr>
       <div class="fade_rule"></div>


     </table>
     <button class="checkout" (click)="checkOut()" routerLink="/thank-you">Checkout</button>

   </div>
  </div>
