.btnfunction {
	border-radius: 4px;
    background: rgb(255, 255, 255);
	color: #ff5e14;
    padding: 7px 30px;
    display: inline-block;
    margin:5px;
    border: solid 2px #212529; 
    /* transition: all 0.5s ease-in-out 0s; */
}
.btnfunction:hover,
.btnfunction:focus {
    background: #000000;
    color: #f8f0e3;
	text-decoration: none;
	border: 1px solid #ff5e14;
}

