<!-- <app-header></app-header>
<app-bannernewarrival></app-bannernewarrival>
<router-outlet></router-outlet>
<app-footer1></app-footer1> -->
<!-- <app-cart></app-cart> -->
<!-- <app-wishlist></app-wishlist> -->
<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- <app-catogry></app-catogry> -->
<!-- <app-product-description></app-product-description> -->
 <!-- <app-bannernewarrival></app-bannernewarrival>
<app-newarrival></app-newarrival>  -->
  <!-- <app-product-card></app-product-card>  
 <app-crudproduct>
    
 </app-crudproduct> -->

<app-thank-you></app-thank-you>